{% extends 'portfolio/base.html' %}
{% load leaflet_tags %}
{% load static %}
{% load humanize %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load widget_tweaks %}
<!-- Importing Leaflet CSS and JS libraries -->
{% leaflet_js %}
{% leaflet_css %}
<script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
<title>GeoJson Machine</title>
{% block mainpage %}
{{map.header.render|safe}}
</head>
<body>
<h3 id="gjtitle">GeoJSON Machine</h3>
 <!--geojson machine navbar went here -->
  {{map.html.render|safe}}
  <script>
    {{map.script.render|safe}}
  </script>
</body>
</html>
{% endblock mainpage %}