{% extends 'portfolio/base.html' %}

{% load leaflet_tags %}
{% load static %}
{% load humanize %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load widget_tweaks %}
<!-- Importing Leaflet CSS and JS libraries -->
{% leaflet_js %}
{% leaflet_css %}

<link rel="stylesheet" href="{% static 'portfolio/jhcstyle.css' %}">
{% block mainpage %}
<div id="pagebody" style="background-image: url(&quot;{% static 'portfolio/viz.tin_hillshade_crop.jpg' %}&quot;);">
<div class="card mb-3" style="max-width: 600px;">
  <div class="row g-0">
    <div class="col-md-5">
      <img src="{% static 'portfolio/gjmachine.png' %}" class="img-fluid rounded-start" style="height: 100%;">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">GeoJSON Machine</h5>
        <p class="card-text">Create geospatial data on the fly and export through your browser</p>
        <a class="btn btn-dark" href="{% url 'foliumMap' %}" role="button">App</a>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 600px;">
  <div class="row g-0">
    <div class="col-md-5">
      <img src="{% static 'portfolio/okieR.png' %}" class="img-fluid rounded-start" style="height: 100%;">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Tornado Alley</h5>
        <p class="card-text">Spatial data visualization within the R ecosystem.</p>
        <a class="btn btn-dark" href="{% url 'notebook' %}" role="button">R Notebook</a>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 600px;">
  <div class="row g-0">
    <div class="col-md-5">
      <img src="{% static 'portfolio/eqapp.png' %}" class="img-fluid rounded-start" style="height: 100%;">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">USGS Earthquakes</h5>
        <p class="card-text">R Notebook displaying web GIS with the leaflet library</p>
        <a class="btn btn-dark" href="#" role="button">R Notebook</a>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock mainpage %}