html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.panel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.panel-side {
  margin: 18px;
  padding: 2px;
  box-sizing: border-box;
  width: 300px;
  height: 40%;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  z-index: 60;
}

.panel-side h2 {
  padding: 0 20px;
  margin: 20px 0;
}

.panel-side ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.panel-side li {
  padding: 5px 20px;
}

.panel-result {
  cursor: pointer;
  margin: 2px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.panel-result:hover,
.panel-result:focus {
  color: orange;
  background-color: rgba(0, 0, 0, 0.75);
} 

#dropdownContainer {
  padding: 2px;
  box-sizing: border-box;
  width: 300px;
  height: 40%;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  z-index: 60;
}

#dropdownList {
  margin-left: 20px;
}



