<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load humanize %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Chart.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js" integrity="sha512-v3ygConQmvH0QehvQa6gSvTE2VdBZ6wkLOlmK7Mcy2mZ0ZF9saNbbk19QeaoTHdWIEiTlWmrwAL4hS8ElnGFbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="{% static 'pats/patsmain.css' %}">


<title>Crook County Property Assessment & Taxation Search 2</title>
</head>
  <body>
    <nav class="navbar navbar-expand-lg bg-secondary navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PATS Links:</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">PATS Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Help
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Online Help</a></li>
                <li><a class="dropdown-item" href="#">PATS Training Guide</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h1>Crook County Property Information</h1></a>
      <img src="{% static 'pats/crook_county_logo_lgr.jpg' %}" alt="" width="350" height="75" class="d-inline-block align-text-left">
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">New Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New Search by Account #</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://geo.co.crook.or.us/portal/apps/webappviewer/index.html?id=370f5ec185b945db9d92999cef827982&query=Taxlots,Maptaxlot,{0}">Interactive Map</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
<div class="container" style="margin-left: 0;">
  <div class="row">
    <div id="navigation" class="col-md" style="max-width: 175px;padding: 0; margin:0; position: static;float: left;">
<section class="bg-light">
    <div class="container" style="padding: 0;margin-right: 0;">
        <div class="d-flex">
            <div class="list-group">
              {% for feature in data.features %}
                <a href="{% url 'account_query' account=feature.attributes.account_id %}" class="list-group-item list-group-item-action">Assessment & Taxation</a>
                <a href="{% url 'account_query' account=feature.attributes.account_id %}" class="list-group-item list-group-item-action">Summary</a>
                <a href="{% url 'valuation' account=feature.attributes.account_id %}" class="list-group-item list-group-item-action">Valuation</a>
                <a href="#" class="list-group-item list-group-item-action">Tax Information</a>
                <a href="#" class="list-group-item list-group-item-action">Sales</a>
                <a href="#" class="list-group-item list-group-item-action">Land and Structures</a>
                <a href="#" class="list-group-item list-group-item-action">Special Assessments</a>
                <a href="#" class="list-group-item list-group-item-action">Tax Map</a>
                <a href="#" class="list-group-item list-group-item-action">Tax Lot History</a>
                <a href="#" class="list-group-item list-group-item-action">Tax Related Accounts</a>
                <a href="#" class="list-group-item list-group-item-action">Warnings/Notations</a>
                <a href="#" class="list-group-item list-group-item-action">Help</a>
                <a href="#" class="list-group-item list-group-item-action">Development</a>
              {% endfor %}
                </div>
        </div>
    </div>
</section>
</div>
<div class="col-md">
{% block content %}
{% endblock %}
{% block scripts %}
{% endblock scripts %}
</div>
</div>
</div>
</body>
</html>

