{% extends 'pats/base.html' %}
{% load static %}
{% load humanize %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div class="container">
    <h5 class="pt-3">Search By Name</h5>
    <div class="row align-items-start pt-1">
        <div class="col-md-6">
<input id="searchBar" class="form-control" type="text" placeholder="Search Here" aria-label="default input example">
</div>
<div class="col-md-6">
<button id="searchBtn" type="button" class="btn btn-primary">Submit</button>
</div>
</div>
</div>

<script type="text/javascript">
    var btn = document.getElementById("searchBtn");
    var searchBar = document.getElementById("searchBar");

    btn.addEventListener("click", function() {
        var name = searchBar.value;
        if (name != '') {
         window.location.href = "search/" + name 
    }

    });

    searchBar.addEventListener("keypress", function(e) {
        if (e.key === 'Enter' && name != '') {
            var name = searchBar.value;
            window.location.href = "search/" + name
        }
    });
</script>

{% endblock %}