{% extends 'pats/base.html' %}
{% load static %}
{% load humanize %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block sidebar %}
<div id="navigation" class="col-md" style="max-width: 175px;padding: 0; margin:0; position: static;float: left;">
    <section class="bg-light">
        <div class="container" style="padding: 0;margin-right: 0;">
            <div class="d-flex">
                <div class="list-group">
                  {% for feature in data.features %}
                    <a href="{% url 'account_query' account=feature.attributes.account_id %}" class="list-group-item list-group-item-action">Assessment & Taxation</a>
                    <a href="{% url 'account_query' account=feature.attributes.account_id %}" class="list-group-item list-group-item-action">Summary</a>
                    <a href="{% url 'valuation' account=feature.attributes.account_id %}" class="list-group-item list-group-item-action">Valuation</a>
                    <a href="#" class="list-group-item list-group-item-action">Tax Information</a>
                    <a href="#" class="list-group-item list-group-item-action">Sales</a>
                    <a href="#" class="list-group-item list-group-item-action">Land and Structures</a>
                    <a href="#" class="list-group-item list-group-item-action">Special Assessments</a>
                    <a href="#" class="list-group-item list-group-item-action">Tax Map</a>
                    <a href="#" class="list-group-item list-group-item-action">Tax Lot History</a>
                    <a href="#" class="list-group-item list-group-item-action">Tax Related Accounts</a>
                    <a href="#" class="list-group-item list-group-item-action">Warnings/Notations</a>
                    <a href="#" class="list-group-item list-group-item-action">Help</a>
                    <a href="#" class="list-group-item list-group-item-action">Development</a>
                  {% endfor %}
                    </div>
            </div>
        </div>
    </section>
    </div>
{% endblock sidebar %}